body, html {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
  }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 1%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 2%;

}

#return {
    margin-left: 8%;
}

#favorite {
    margin-right: 8%;
}

.container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.card {
    /* height: 30%; */
    padding: 1%;
    /* margin-bottom: 0rem; */
    /* width: 50%; */
    width:40vw;
    height:30vw;
    margin: 1%;

}

.image-container{
    margin: 1%;
}

/* .image {
    height: 100%;
} */

figure {
    width:40vw;
    height:30vw;
 }
 .brew-img {
    max-width:100%;
    height:auto;
    max-height:100%;
 }

ul {
    width: 100%;
}

li {
    list-style-type: none;
    padding: .75%;
}

ul li img {
    margin-right: 1%;

}

/* targets the brewery image - Bulma selector */
.image.is-4by3 img {
}


.image.is-4by3 {
    padding-top: 15%;
}

.card-header{
    padding: 3%;
    margin-bottom: 2%;
}

.map-visible {
    height: 35%;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
    bottom: 15%;
  }

.hidden {
    display: none;
}

