/* color palette obtained from coolors.com */
/* picutes obtained from pexels.com */

:root {
    --off-white: #faf3dd;
    --light-green: #c8d5b9;
    --blue-green: #8fc0a9;
    --blue: #68b0ab;
    --dark-green: #4a7c59;
}